<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post list</title>
</head>
<body>
  <h1>post list</h1>
  
  <% if (posts.length > 0) { %>
    <ul>
      <% posts.forEach(post => { %>
        <li><a href="../public/posts/<%= post %>"><%= post %></a></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>post list is empte</p>
  <% } %>

  <a href="/">HOME</a>
</body>
</html>

