<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
	
       <script type="../module" src="main.js"></script>
	<h1> contacts </h1>
	<li><a href = "https://github.com/Astg582/Task_for_cloud">GitHub</a></li>
	<li><a href = "https://www.youtube.com/@astghikgevorgyan6903/playlists">YouTub</a></li>
	
	 
</body>
</html>

